@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $lt-main-text-color;
  background-color: $lt-bg-color;
}

body.dark-theme {
  color: $dt-main-text-color;
  background-color: $dt-bg-color;
}
