// basic
$black: #000000;
$white: #ffffff;
//accent
$main-accent-color: #4f2ee8;
$secondary-accent-color: #eac645;
$accent-text-color: #4f2ee8;

//light-theme//

//text
$lt-main-text-color: #111111;
$lt-secondary-text-collor: #11111199;
$lt-subtitle-color: #b4afaf;
//background
$lt-bg-color: #d0d0d0;

//dark-theme//

//text
$dt-main-text-color: #ffffff;
$dt-secondary-text-color: #ffffff99;
$lt-subtitle-color: #b4afaf;
//background
$dt-bg-color: #202024;
