// basic
$black: #000000;
$white: #ffffff;
//accent
$main-accent-color: #4f2ee8;
$secondary-accent-color: #eac645;
$accent-text-color: #4f2ee8;
$black-accent-color: #111111;

//!light-theme//

//text
$lt-main-text-color: #111111;
$lt-secondary-text-color: #11111199;
$lt-subtitle-color: #b4afaf;
$lt-congrats-text-color: #11111180;
//background
$lt-bg-color: #f6f6f6;
//gradient
$lt-btn-grad: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
//backdrop
$lt-backdrop: #f6f6f6;

//!dark-theme//

//text
$dt-main-text-color: #ffffff;
$dt-secondary-text-color: #ffffff99;
$dt-congrats-text-color: #ffffff80;
//background
$dt-bg-color: #202024;
//gradient
$dt-btn-grad: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
//backdrop
$dt-backdrop: #202024;

//transition
$transition: 350ms cubic-bezier(0.65, 0.05, 0.36, 1);
