body.dark-theme {
  .js-text{
    color: #ffffff60;
  }
  
  .shopping-list-title {
    color: $dt-main-text-color;
  }
  .wrap-about-book {
    background-color: $black;
  }

  .wrap-about-description {
    color: $dt-main-text-color;
  }
  .trading-platforms-list-item-img-amazon {
    filter: invert(50%) brightness(200%);
  }

  #pagination .tui-page-btn {
    background-color: $black;
    border: 1px solid $white;
    color: $white;
  }
  #pagination .tui-next {
    background-color: $secondary-accent-color;
  }
  #pagination .tui-last {
    background-color: $secondary-accent-color;
  }
  #pagination .tui-is-selected,
  .tui-pagination strong {
    background-color: $white;
    color: $black;
  }

}
