body.dark-theme .shopping-list-container {
  background-color: $dt-bg-color;
}

body.dark-theme .wrap-about-book {
  background-color: $black;
}

body.dark-theme .trading-platforms-list {
  filter: brightness(100%);
}
