body.dark-theme {
  .js-text {
    color: #ffffff60;
  }

  .shopping-list-title {
    color: $dt-main-text-color;
  }
  .wrap-about-book {
    background-color: $black;
  }

  .wrap-about-description {
    color: $dt-main-text-color;
  }
  .trading-platforms-list-item-img-amazon {
    filter: invert(50%) brightness(200%);
  }

  #pagination .tui-page-btn {
    background-color: $dt-bg-color;
    border: 1px solid $white;
    color: $white;
    &.tui-first,
    &.tui-prev,
    &.tui-next,
    &.tui-last {
      border-color: $black;
      background-color: $secondary-accent-color;
    }
    &.tui-is-disabled {
      background-color: $black;
    }
  }

  #pagination .tui-next {
    background-color: $secondary-accent-color;
  }
  #pagination .tui-last {
    background-color: $secondary-accent-color;
  }
  #pagination .tui-is-selected,
  .tui-pagination strong {
    background-color: $white;
    color: $black;
  }
  .trading-platforms-list {
    &-item-img-amazon {
      filter: grayscale(100%) invert(1);
      &:hover,
      &:focus {
        filter: invert(0) grayscale(0)
          drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.9));
      }
    }
    &-item-img-apple-books {
      &:hover,
      &:focus {
        filter: grayscale(0) drop-shadow(0px 3px 4px rgba(255, 255, 255, 0.4));
      }
    }
    &-item-img-bookshop {
      &:hover,
      &:focus {
        filter: grayscale(0) drop-shadow(0px 3px 4px rgba(255, 255, 255, 0.4));
      }
    }
  }
}
