.book_info_card {
    position: relative;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    overflow: scroll;

    width: 100%;
    max-width: 100vw;
    background-color: $white;
    border-radius: 18px;

    @media screen and (min-width: 768px) {
        width: 579px;
        padding: 40px;
    }
}

.book_info_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
    width: 287px;
    height: 408px;
    object-fit: cover;
    border: 1px solid $lt-subtitle-color;

    @media screen and (min-width: 768px) {
        width: 192px;
        height: 281px;
    }
}

.modal-info-close {
    position: absolute;
    top: 14px;
    right: 14px;

    cursor: pointer;
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
        .modal-close-icon {
        stroke: $accent-text-color;
        }
    }
    @media screen and (min-width: 768px) {
        top: 24px;
        right: 24px;
    }
}

.close-modal-info {
    stroke:  $lt-main-text-color;
}

.book_info_name {
    margin-bottom: 4px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

.book_info_author {
    margin-bottom: 18px;
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.book_info_description {
    margin-bottom: 14px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.info-logo-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    margin-bottom: 40px;
}

.info_img-author_container {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.btn-book-info {
    margin-left: 62px;
    margin-right: 62px;
    margin-bottom: 8px;
    padding: 14px 28px;
    height: 46px;
    border: 2px solid $accent-text-color;
    border-radius: 40px;

    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    background-color: $white;

    &_book_add__to_list {
        width: 215px;
    }

    &_book_remove_from_list {
        width: 279px;
    }

    &:focus,
    &:hover {
        color: #fff;
        background-color: #4f2ee8;
    }

    @media screen and (min-width: 768px) {
        width: 499px;
        height: 64px;
        padding: 20px 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.book-infoBtn-explanation {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.04em;

    color: rgba(17, 17, 17, 0.5);
}

.book-infoBtn-explanation.is-hidden,
.book_info_card.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}