body.dark-theme {
    .book_info_card {
        background-color: $dt-bg-color;
        border: 2px solid $white;
    }

    .close-modal-info{
        stroke: $lt-bg-color;
    }

    .btn-book-info {
        background-color: $lt-bg-color;
        color: $dt-backdrop;
        &:hover,
        &:focus {
          color: $dt-main-text-color;
          background-color: $main-accent-color;
        }
    }

    .modal-info-close{
        cursor: pointer;
      
        border: none;
        background-color: transparent;
        &:hover,
        &:focus {
          .modal-close-icon {
            stroke: $accent-text-color;
          }
        }
        @media screen and (min-width: 768px) {
          top: 24px;
          right: 24px;
        }
    }
    
    
}