<footer class="page-footer">
  <div class="footer__container container">
    <div class="footer-logo">
        <!-- <img href="./images/footer/logo.svg" width="24" height="24"></img> -->
        <a class="footer__link footer__link--name js-modal-open" href="#">
          NOVEL DEVS
        </a>
      </div>
      <div class="footer__copyright">
        <p class="footer__text">© 2023 | All Rights Reserved | 
          <span class="footer__developed">Developed</span>
          <span class="footer__text-by">by</span> <a class="footer__link" href="https://goit.ua/" target="_blank"
          rel="noreferrer noopener">
          <span class="footer__text--begin">&nbsp;Go</span><span class="footer__text--end">IT</span></a>
        </p> 
      </div>
  </div>
</footer>
