<button type="button" class="footer-toggle-btn">About project</button>
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__section">
      <div class="footer-logo">
        <div class="footer-logo__team">
          <a
            class="footer__link footer__link--name js-teammodal-open js-modal-team"
            href=""
          >
            <img
              class="team-svg"
              src="./images/footer/novel-devs.svg"
              width="260"
              height="50"
              alt="novel devs"
            />
          </a>
        </div>
        <div class="footer-logo__youyube">
          <a
            class="footer__link footer__link--name"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="YouTube"
          >
            <img
              class="youtube-svg"
              src="./images/footer/logo-youtube.svg"
              width="182"
              height="50"
              alt="youtube logo"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__text">NOVEL DEVS &#169; 2023</p>
    </div>
  </div>
</footer>
