<div class="backdrop is-hidden js-modal-team">
  <div class="modal team__modal">
    <div class="modal__wrapper">
      <button type="button" class="modal__close-btn js-modal-close">
        <svg class="modal__close-icon" width="18" height="18">
          <use href="./images/footer/modal__close-btn.svg#close-btn"></use>
        </svg>
      </button>
    </div>

    <div class="team">
      <h2 class="team__logo">NOVEL DEVS</h2>
      <div class="team__container">
        <ul class="team__list">
          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">_____</h3>
            <p class="team__prof">Team-lead/Developer</p>
            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">______</h3>
            <p class="team__prof">Scrum-master/Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">_________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">_________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src=""
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">__________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">__________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">___________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">__________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>

          <li class="team__item">
            <div class="team__img-wrapper">
              <img
                class="team__img team__img--first"
                src="#"
                alt=""
                width="170"
                height="120"
              />

              <img
                class="team__img team__img--second"
                src="#"
                alt=""
                width="170"
                height="120"
              />
            </div>

            <h3 class="team__developer">___________</h3>
            <p class="team__prof">Developer</p>

            <ul class="team__social">
              <li class="team__link">
                <a
                  href="https://github.com/"
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label="GitHub"
                >
                  <i class="fa-brands fa-github fa-lg"></i>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 
