<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Novel devs</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.css"
    />
    <link rel="stylesheet" href="../sass/layouts/_gallery-footer.scss" />
    <link rel="stylesheet" href="../sass/layouts/_footer.scss" />
  </head>

  <body>
    <div class="team-box">
      <p><a class="modal-back" href="../index.html">Go back</a></p>
        <h2 class="team__logo">NOVEL DEVS</h2>
      <div class="team__container">
        <div class="team__list">
          <ul class="footer-gallery"></ul>
        </div>
      </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.js "></script>
    <script src="../js/modal-team.js" type="module"></script>
  </body>
</html>
