<section class="support slider support-container">
  <div class="support-wrap-title">
    <h2 class="support-title slider-title">Support Ukraine</h2>
    <svg class="support-icon" width="20" height="32">
      <use href="./images/symbol-defs.svg#ukraine"></use>
    </svg>
  </div>
  <div class="swiper slider">
    <ul class="js-support-list swiper-wrapper"></ul>
  </div>
  <button
    class="support-btn swiper-button"
    type="button"
    aria-label="swipe list down button"
  >
    <svg class="support-btn-icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#arrow-down"></use>
    </svg>
  </button>
</section>
