<main>
  <section>
    <div class="container shopping-list-container">
      <div class="support-wrap">
        <include src="./partials/support.html"></include>
      </div>
      <div class="content-wrap">
        <h1 class="shopping-list-title">
          Shopping<span class="shopping-list-title-part"> List</span>
        </h1>
        <!-- <p class="js-text">
          This page is empty, add some books <br />
          proceed to order.
        </p>
        <div class="js-back"></div> -->
        <ul class="shopping-list-wrap list"></ul>
      </div>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </section>
</main>
