<main>
  <section>
    <div class="container shopping-list-container">
      <div class="support-wrap">
        <include src="./partials/support.html"></include>
      </div>
      <div class="content-wrap">
        <!-- <h1 class="shopping-list-title">
          Shopping<span class="shopping-list-title-part"> List</span>
        </h1> -->
        <ul class="shopping-list-wrap list">
          <!-- <li class="wrap-about-book">
            <img
              class="wrap-about-img"
              src="/src/images/example-shopping-list/poster.jpg"
              alt="Poster of book"
            />
            <div class="wrap-about-book-info">
              <div class="wrap-about-book-style">
                <p class="wrap-about-title">I will find you</p>
                <button class="wrap-about-book-remove">
                  <svg
                    class="wrap-about-book-remove-icon"
                    width="16"
                    height="16"
                  >
                    <use href="/src/images/symbol-defs.svg#trash"></use>
                  </svg>
                </button>
              </div>
              <p class="wrap-about-category">Hardcover fiction</p>
              <p class="wrap-about-description">
                David Burroughs was once a devoted father to his three-year-old
                son Matthew, living a dream life just a short drive away from
                the working-class suburb where he and his wife, Cheryl, first
                fell in love--until one fateful night when David woke suddenly
                to discover Matthew had been murdered while David was asleep
                just down the hall.
              </p>
              <div class="wrap-about-book-styles">
                <p class="wrap-about-author">Harlan Coben</p>
                <ul class="trading-platforms-list list">
                  <li class="trading-platforms-list-item">
                    <a class="trading-platforms-list-item-link" href="">
                      <img
                        class="trading-platforms-list-item-img-amazon"
                        srcset="
                          /src/images/trading-platforms/amazon.png    1x,
                          /src/images/trading-platforms/amazon@2x.png 2x
                        "
                        src="/src/images/trading-platforms/amazon.png"
                        alt="Amazon"
                      />
                    </a>
                  </li>
                  <li class="trading-platforms-list-item">
                    <a class="trading-platforms-list-item-link" href="">
                      <img
                        class="trading-platforms-list-item-img-apple-books"
                        srcset="
                          /src/images/trading-platforms/apple-books.png    1x,
                          /src/images/trading-platforms/apple-books@2x.png 2x
                        "
                        src="/src/images/trading-platforms/apple-books.png"
                        alt="Apple books"
                      />
                    </a>
                  </li>
                  <li class="trading-platforms-list-item">
                    <a class="trading-platforms-list-item-link" href="">
                      <img
                        class="trading-platforms-list-item-img-bookshop"
                        srcset="
                          /src/images/trading-platforms/bookshop.png    1x,
                          /src/images/trading-platforms/bookshop@2x.png 2x
                        "
                        src="/src/images/trading-platforms/bookshop.png"
                        alt="bookshop"
                      />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li> -->

          <!-- <li class="wrap-about-book"> -->
          <!-- <img
                class="wrap-about-img"
                src="/src/images/example-shopping-list/poster.jpg"
                alt="Poster of book"
                width="116"
                height="165"
              />
              <div class="wrap-about-book-info">
                <div class="wrap-about-book-style">
                  <h2 class="wrap-about-title">I will find you</h2>
                  <button class="wrap-about-book-remove">
                    <svg
                      class="wrap-about-book-remove-icon"
                      width="18"
                      height="18"
                    >
                      <use href="/src/images/symbol-defs.svg#trash"></use>
                    </svg>
                  </button>
                </div>
                <h3 class="wrap-about-category">Hardcover fiction</h3>
                <p class="wrap-about-description">
                  David Burroughs was once a devoted father to his
                  three-year-old son Matthew, living a dream life just a short
                  drive away from the working-class suburb where he and his
                  wife, Cheryl, first fell in love--until one fateful night when
                  David woke suddenly to discover Matthew had been murdered
                  while David was asleep just down the hall.
                </p>
                <div class="wrap-about-book-styles">
                  <h4 class="wrap-about-author">Harlan Coben</h4>
                  <ul class="trading-platforms-list list">
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/amazon.png    1x,
                            /src/images/trading-platforms/amazon@2x.png 2x
                          "
                          src="/src/images/trading-platforms/amazon.png"
                          alt="Amazon"
                          width="48"
                          height="15"
                        />
                      </a>
                    </li>
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/apple-books.png    1x,
                            /src/images/trading-platforms/apple-books@2x.png 2x
                          "
                          src="/src/images/trading-platforms/apple-books.png"
                          alt="Apple books"
                          width="28"
                          height="27"
                        />
                      </a>
                    </li>
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/bookshop.png    1x,
                            /src/images/trading-platforms/bookshop@2x.png 2x
                          "
                          src="/src/images/trading-platforms/bookshop.png"
                          alt="bookshop"
                          width="32"
                          height="30"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div> -->
          <!-- </li>

          <li class="wrap-about-book">
            < <img
                class="wrap-about-img"
                src="/src/images/example-shopping-list/poster.jpg"
                alt="Poster of book"
                width="116"
                height="165"
              />
              <div class="wrap-about-book-info">
                <div class="wrap-about-book-style">
                  <h2 class="wrap-about-title">I will find you</h2>
                  <button class="wrap-about-book-remove">
                    <svg
                      class="wrap-about-book-remove-icon"
                      width="18"
                      height="18"
                    >
                      <use href="/src/images/symbol-defs.svg#trash"></use>
                    </svg>
                  </button>
                </div>
                <h3 class="wrap-about-category">Hardcover fiction</h3>
                <p class="wrap-about-description">
                  David Burroughs was once a devoted father to his
                  three-year-old son Matthew, living a dream life just a short
                  drive away from the working-class suburb where he and his
                  wife, Cheryl, first fell in love--until one fateful night when
                  David woke suddenly to discover Matthew had been murdered
                  while David was asleep just down the hall.
                </p>
                <div class="wrap-about-book-styles">
                  <h4 class="wrap-about-author">Harlan Coben</h4>
                  <ul class="trading-platforms-list list">
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/amazon.png    1x,
                            /src/images/trading-platforms/amazon@2x.png 2x
                          "
                          src="/src/images/trading-platforms/amazon.png"
                          alt="Amazon"
                          width="48"
                          height="15"
                        />
                      </a>
                    </li>
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/apple-books.png    1x,
                            /src/images/trading-platforms/apple-books@2x.png 2x
                          "
                          src="/src/images/trading-platforms/apple-books.png"
                          alt="Apple books"
                          width="28"
                          height="27"
                        />
                      </a>
                    </li>
                    <li class="trading-platforms-list-item">
                      <a class="trading-platforms-list-item-link" href="">
                        <img
                          srcset="
                            /src/images/trading-platforms/bookshop.png    1x,
                            /src/images/trading-platforms/bookshop@2x.png 2x
                          "
                          src="/src/images/trading-platforms/bookshop.png"
                          alt="bookshop"
                          width="32"
                          height="30"
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </div> -->
          <!-- </li> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </section>
</main>
