// .scroll-up__link {
//   position: fixed;
//   bottom: 20px;
//   right: 5px;
//   cursor: pointer;
//   width: 54px;
//   height: 54px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1.5px solid $black-accent-color;
//   border-radius: 50%;
//   background-color: $main-accent-color;
//   transition: transform $transition;

//   @media screen and (min-width: 768px) {
//     width: 64px;
//     height: 64px;
//   }
// }

// .scroll-top-btn:hover {
//   transform: scale(1.1);
// }

// .scrollup-btn-icon {
//   fill: $dt-main-text-color;
// }

.scroll-up {
  //   opacity: 1;
  //   visibility: visible;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition;
  //   display: none;

  z-index: 99;
  position: fixed;
  right: 30px;
  bottom: 30px;

  width: 54px;
  height: 54px;

  background-color: $main-accent-color;
  border-radius: 50%;
  border: 5px rgba(79, 46, 232, 0.3) solid;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    transition: transform $transition;

    &:hover,
    &:focus {
      color: #fff;
      transform: scale(1.1);
    }
  }

  &__img {
    fill: currentColor;
  }
}

// .scroll-up.scroll-up__hide {
//   opacity: 0;
//   visibility: hidden;
// }
