.footer {
  position: absolute;
  bottom: -200px;
  left: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transform: translateY(100%);
  opacity: 0;
  visibility: visible;

  transition: opacity $transition, height $transition, transform $transition;

  &.is-open {
    bottom: -146px;
    opacity: 1;
    visibility: visible;
    transform: translateX(0) scale(1);
    height: 146px;
    padding: 25px 0;
    @media screen and (max-width: 767.98px) {
      bottom: -127px;
      height: 127px;
    }
  }

  min-width: 320px;

  color: #fff;
  background-color: #4f2ee8;
}

.footer__section {
  margin-bottom: 26px;
}
.footer-logo {
  justify-content: space-between;
  width: 100%;
  color: #fff;

  @media screen and (max-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
  }
}
.footer__link {
  border-radius: 8px;
  transition: box-shadow $transition;
  &:hover,
  &:focus {
    box-shadow: 0 -280px 70px -120px rgba(180, 175, 175, 0.256) inset;
  }
}
.footer__copyright {
  display: flex;
  justify-content: center;
}

.footer__text {
  font-weight: 400;
  @media screen and (min-width: 320px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
.footer__link--name {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* DARK THEME */
body.dark__theme {
  .footer {
    color: #ffffff;
    background-color: #202024;
  }

  .footer-logo,
  .footer__text,
  .footer__link--name {
    color: #ffffff;
    &:hover,
    &:focus {
      color: #eac645;
      fill: #eac645;
    }
  }
  .footer__link {
    text-decoration: underline;
  }
}
.footer-gallery,
.js-modal-team {
  margin: 0px;
}
.team-svg {
  fill: #fff;

  @media screen and (max-width: 767.98px) {
    height: auto;
    width: 200px;
  }
  @media screen and (max-width: 365px) {
    width: 54vw;
  }
  @media screen and (max-width: 319.98px) {
    width: 172px;
  }
}
.youtube-svg {
  width: 120px;
  height: auto;
  @media screen and (min-width: 768px) {
    width: 160px;
  }
  @media screen and (max-width: 365px) {
    width: 32vw;
  }
  @media screen and (max-width: 319.98px) {
    width: 102px;
  }
}
.footer-toggle-btn {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 4px 8px;
  background-color: $main-accent-color;

  border: none;
  border-radius: 12px 12px 0 0;
  border: 2px solid $main-accent-color;
  color: $white;

  // text-transform: uppercase;
  font-weight: 500;
  transition: background-color $transition, color $transition,
    transform $transition;
  &:hover {
    // color: inherit;

    transform: scale(1.1);
    // background-color: transparent;
  }
}
