// .backdrop {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//   //     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
.team-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  // flex-direction: column;
  flex-wrap: wrap;

  overflow: auto;
  margin-top: 40px;
  // scroll-behavior: auto;

  // position: relative;
  background-color: #f6f6f6;
  padding: 40px 20px;
  border: 2px solid #111111;
  border-radius: 18px;
  width: 90vw;
  max-width: 375px;
  min-width: 300px;
  transition: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 10;
  height: 95vh;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    max-width: 90%;
    // max-width: 530px;
    padding: 40px 40px 40px;
  }

  @media screen and (min-width: 1440px) {
    justify-content: space-between;
    max-width: 90%;
    min-width: 580px;
    // width: 90vw;
  }
}

.team-modal-title {
  display: block;
margin-left: auto;
margin-right: auto;

  // justify-content: center;
  // align-items: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #111111;
  @media screen and (min-width: 768px) {
    line-height: 1.71;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-attachment: scroll;
  scroll-behavior: auto;
  overflow: auto;
  margin: 0;

  background-attachment: scroll;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Set gap between rows and columns */
  // gap: 10px;
  padding: 0;
  list-style: none;
  // background-attachment: scroll;
  overflow: auto;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: flex-start;
    // width: 888px;
  }
}
.team-member {
  // flex-basis: calc((100% - 20px) / 1);
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  width: 100%;
  // height: auto;
  max-height: 485px;
  // flex-basis: calc((100% - 20px) / 1);
  // overflow: hidden;

  margin-bottom: 10px;

  border: 1px #b4afaf solid;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 203px;
    margin-left: 10px;
    // &:nth-child(1) {
    //   margin-left: 0px;
    // }
    // flex-basis: calc((100% - 20px) / 3);
    // width: 265px;
    // height: 344px;
    // max-height: 485px;

    overflow: hidden;

    margin-bottom: 14px;

    border: 1px #b4afaf solid;
    border-radius: 8px;
  }

    @media screen and (min-width: 1440px) {
    // flex-basis: calc((100% - 20px) / 5);
    // margin-left: 30px;
    // &:nth-child(5) {
    //   margin-left: 0px;
    // }

flex-basis: calc((100% - 20px) / 5);

    // width: 172px;
    // height: 240px;
    // overflow: hidden;
    // margin-bottom: 14px;
    border: 1px #b4afaf solid;
    border-radius: 8px;

  }
}

.team-member-img {
  object-fit: cover;
  height: 78%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;

  border: 1px #b4afaf solid;
}
.team-member-name {
  font-size: 12px;
  padding-left: 5px;
}
.team-member-title {
  font-weight: 400;
  padding-left: 5px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  // font-style: italic;
  color: #b4afaf;
}
.team-member-link {
  font-weight: 400;
  font-size: 12px;
  padding-left: 5px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  // font-style: italic;
  color: #b4afaf;
}

.team-modal-close {
  cursor: pointer;
  position: absolute;
  // width: 30px;
  // height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 5px;
  right: 5px;


  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: #2196f3;
  }

}

.close-modal-info {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
stroke: #111111;
  
 }

// .close-modal-svg {
//   width: 28px;
//   height: 28px;
//     fill: #111111;
//       color: #111111;
//       stroke: #111111;
  //       border: 3px solid #111111;
  //   transition: stroke 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
// }
// .basicLightbox{
//   position:relative;
// }
.basicLightbox {
  overflow: auto;
  // @media screen and (max-width: 768px) {
  //   // position: relative;
  // }
}