.team-wrapper {
    position: relative;
    background-color: #f6f6f6;
    padding: 40px 20px;
    border: 2px solid #111111;
    border-radius: 18px;
    width: 90vw;
    max-width: 375px;
    min-width: 300px;
    transition: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);

    @media screen and (min-width: 768px) {
      max-width: 530px;
      padding: 40px 40px 40px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 580px;
    }
  }
.team-modal-close {
    // position: relative;
  // position: absolute;
  // left: 25%;
  // right: 25%;
  // top: 25%;
  // bottom: 25%;
  fill: #111111;
  color: #111111;
  stroke: #111111;
  cursor: pointer;
  margin-right: 24px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    .team-modal-close {
      stroke: #4f2ee8;
    }
  }

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
  }
}
.close-modal-info {
  position: absolute;
  width: 28px;
  height: 28px;
  // top: 24px;
  // right: 24px;
  // left: 25%;
  // bottom: 25%;
fill: #111111;
color: #111111;
stroke: #111111;
border: 3px solid #111111;
// border: none;
  transition: stroke 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
    
  }
}
.close-modal-svg {
  width: 28px;
  height: 28px;
    fill: #111111;
      color: #111111;
      stroke: #111111;
        border: 3px solid #111111;
    transition: stroke 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.team-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0px;
  letter-spacing: -0.04em;

  color: #111111;
  @media screen and (min-width: 768px) {
    line-height: 1.71;
  }
}

.team-box {
  display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
    /* Set gap between rows and columns */
    // gap: 10px;
    padding: 0;
    list-style: none;
      flex-basis: calc((100% - 20px) / 1);
  // justify-content: space-around;
  // align-items: center;
  // box-sizing: border-box;
  // flex-direction: row;
  // flex-wrap: wrap;
  // padding: 5px;
  // margin-left: auto;
  // margin-right: auto;



// display: grid;
// grid-template-columns: repeat(1, 1fr);

//   margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    display: flex;
      flex-wrap: wrap;
flex-basis: calc((100% - 20px) / 3);
  

    // grid-template-columns: repeat(5, 1fr);
    // column-gap: 10px;
    // row-gap: 40px;

    // margin-bottom: 20px;
  }

  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - 20px) / 5);
    // column-gap: 10px;
    // grid-template-columns: repeat(2, 1fr);

    // margin-bottom: 32px;
  }
}

.team-member {
  // flex-basis: calc((100% - 20px) / 1);
  // display: flex;
  //   justify-content: center;
  //   align-items: center;
  width: 80%;
  height: auto;
  max-height: 485px;
  overflow: hidden;

  margin-bottom: 14px;

  border: 1px #b4afaf solid;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    width: 80%;
      height: auto;
      max-height: 485px;
      overflow: hidden;
    
      margin-bottom: 14px;
    
      border: 1px #b4afaf solid;
      border-radius: 8px;
  }

  @media screen and (min-width: 1440px) {
    width: 80%;
      height: auto;
      max-height: 485px;
      overflow: hidden;
    
      margin-bottom: 14px;
    
      border: 1px #b4afaf solid;
      border-radius: 8px;
  }
}

.team-member-img {
  object-fit: cover;
  height: 80%;
  width: 100%;
  margin-bottom: 10px;

  border: 1px #b4afaf solid;
}

.team-member-name {
  margin-bottom: 4px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  // text-transform: uppercase;
}

.team-member-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  // font-style: italic;
  color: #b4afaf;
  }
.team-member-link {
font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  // font-style: italic;
  color: #b4afaf;

margin-bottom: 10px;
}






// .team-list {
//   display: flex;
//     // flex-wrap: wrap;
//     justify-content: center;
    
  
//   align-items: center;
//   justify-content: flex-start;
//   gap: 20px;
  
//   margin-bottom: 40px;
// }
// .team-member {
//     position: relative;
//     margin-bottom: 24px;
//     // top: 15px;
//     // width: 300px;
//     // height: 500px;
//     @media screen and (min-width: 768px) {
//       margin-bottom: 28px;

//       &:nth-child(3) {
//         margin-bottom: 40px;
//       }
//     }
//   }

// {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
    
// }





// .team-box {
//   background-color: #f6f6f6;
// }
// .modal-back {
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1, 16;
//   letter-spacing: 0.03em;
//   text-align: center;
//   color: #000000;
//   text-decoration: none;
// }
// .team__logo {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   font-weight: 600;
//   font-size: 30px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
//   text-align: center;

//   padding: 5% 10%;
//   color: #ffffff;
//   border-radius: 6px;
//   background: #f6f6f6;
//   box-shadow: 0 -150px 70px -120px #000000 inset,
//     0 -220px 70px -120px #4f2ee8 inset, 0 -280px 70px -120px #b4afaf inset;
//   animation: background 4s infinite alternate;
// }
// .team__container {
//   display: flex;
//   justify-content: center;

//   margin-top: 10px;
//   @media screen and (min-width: 768px) {
//     margin-top: 20px;
//   }
//   @media screen and (min-width: 1024px) {
//     margin-top: 20px;
//   }
// }

// .team__list {
//   padding: 0;

//   @media screen and (max-width: 767px) {
//     &:not(:last-child) {
//       margin-bottom: 30px;
//     }
//   }
//   @media (min-width: 768px) and (max-width: 1023px) {
//     display: flex;
//     flex-wrap: wrap;
//     margin: -15px;
//   }
//   @media screen and (min-width: 1024px) {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//   }
// }

// .team__item {
//   @media screen and (min-width: 320px) {
//     margin-bottom: 10px;
//   }
//   @media (min-width: 768px) and (max-width: 1023px) {
//     width: calc((100% - 2 * 30px) / 2);
//     margin: 15px;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 230px;
//     flex-basis: calc(100% / 3 - 30px);
//     margin-left: 30px;
//     &:nth-child(-n + 11) {
//       margin-bottom: 30px;
//     }
//   }
// }
// .footer-gallery {
//   list-style-type: none;
// }
// .gallery__link {
//   font-weight: 400;
//   font-size: 20px;
//   line-height: 1, 16;
//   letter-spacing: 0.03em;
//   text-align: center;
//   color: #000000;
//   text-decoration: none;
//   padding: 10px;
// }
// .gallery__title {
//   font-weight: 80;
//   font-size: 18px;
//   line-height: 1, 16;
//   letter-spacing: 0.03em;
//   text-align: center;
//   color: #000000;
//   text-decoration: none;
//   padding: 10px;
// }
// .gallery__git {
//   font-weight: 100;
//   font-size: 18px;
//   line-height: 1, 16;
//   letter-spacing: 0.03em;
//   text-align: center;
//   color: #000000;
//   text-decoration: none;
//   padding: 10px;
// }


// /* DARK THEME */
// body.dark__theme {
//   .team-box {
//     background-color: #202024;
//   }
//   .modal-back {
//     color: #ffffff99;
//   }
//   .team__logo {
//     font-weight: 600;
//     font-size: 30px;
//     line-height: 1.16;
//     letter-spacing: 0.03em;
//     text-align: center;

//     padding: 5% 10%;
//     color: #ffffff;
//     border-radius: 6px;
//     background: #f6f6f6;
//     box-shadow: 0 -150px 70px -120px #000000 inset,
//       0 -220px 70px -120px #4f2ee8 inset, 0 -280px 70px -120px #b4afaf inset;
//     animation: background 4s infinite alternate;
//   }
//   .gallery__link {
//     font-weight: 100;
//     font-size: 20px;
//     line-height: 1, 16;
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: #ffffff;
//     text-decoration: none;
//     padding: 10px;
//   }
// }

