.page-header {
  position: fixed;
  z-index: 1003;
  background: $white;
  border: 1.5px solid $black-accent-color;
  border-radius: 0px 0px 8px 8px;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  color: $white;
  min-width: 320px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }
  .container {
    @media screen and (max-width: 767.98px) {
      max-width: none;
    }
  }
  &.logged-in {
    @media screen and (min-width: 768px) {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }
  }
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.logo-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: $lt-main-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.header-btn-box {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
  gap: 24px;
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
.authorized-box {
  display: none;
  position: relative;
  min-width: 184px;

  @media screen and (min-width: 768px) {
    display: block;
  }
  &[hidden] {
    display: none;
  }
}
.authorized-btn {
  display: flex;
  border: none;
  background-color: $main-accent-color;
  border-radius: 36px;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  color: $dt-main-text-color;
  letter-spacing: -0.02em;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.log-out-btn {
  width: 100%;
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  background: $white;
  border: 1.5px solid $black;
  border-radius: 18px;
  padding: 12.5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: -0.04em;
  font-size: 14px;
  z-index: -1;
  cursor: pointer;
  transition: opacity $transition, visibility $transition, transform $transition;
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(100%);
  }
}
.user-name {
  margin-left: 9px;
  margin-right: auto;
}
.user-icon {
  fill: $main-accent-color;
}
.user-icon-arrow {
  transition: transform $transition;
  fill: $white;
  stroke: $white;
  &.is-active {
    transform: rotate(-180deg);
  }
}
.user-icon-box {
  display: inline-flex;
  padding: 9px;
  background-color: $lt-bg-color;
  border-radius: 50%;
}

.mobile-menu-open-btn {
  height: 28px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  &[aria-expanded='true'] {
    .mobile-menu-close-icon {
      display: block;
    }
    .mobile-menu-open-icon {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.burger-icon {
  fill: $lt-main-text-color;
  stroke: $black;
}
.burger-icon:hover,
.burger-icon:focus {
  fill: $accent-text-color;
}
.burger-icon .mobile-menu-close-icon {
  display: none;
}

//=== SWITCH ===//
:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
  --trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
  --trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
  font-size: calc(40px + (80 - 40) * (100vw - 320px) / (2560 - 320));
}
.switch {
  margin: auto;
  position: relative;
}
.switch__icon,
.switch__input {
  display: block;
  cursor: pointer;
}
.switch__icon {
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  width: 0.75em;
  height: 0.75em;
  transition: opacity $transition, transform $transition;
}
.switch__icon polyline {
  transition: stroke-dashoffset $transition;
}
.switch__icon--light,
.switch__icon--light polyline {
  transition-delay: 150ms;
  transition: $transition;
}
.switch__icon--dark {
  opacity: 0;
  transform: translateX(-0.75em) rotate(30deg) scale(0.75);
  transition: $transition;
}
.switch__input {
  background-color: hsl(210, 90%, 70%);
  border-radius: 0.75em;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  outline: transparent;
  position: relative;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color $transition, box-shadow 0.15s linear;
  cursor: pointer;
}
.switch__input:focus-visible {
  box-shadow: 0 0 0 0.125em hsl(var(--hue), 90%, 50%),
    0.125em 0.125em 0.25em hsla(var(--hue), 90%, 10%, 0.2);
}
.switch__input:before,
.switch__input:after {
  content: '';
  display: block;
  position: absolute;
}
.switch__input:before {
  background: $lt-btn-grad;
  border-radius: inherit;

  inset: 0;
  transition: background-color $transition;
}
.switch__input:after {
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  top: 0.125em;
  left: 0.125em;
  width: 1.25em;
  height: 1.25em;
  transition: background-color $transition, transform $transition;
  z-index: 1;
}
.switch__input:checked {
  background-color: hsl(290, 90%, 40%);
}
.switch__input:checked:before {
  background: $dt-btn-grad;
}
.switch__input:checked:after {
  transform: translateX(1.5em);
}
.switch__input:checked ~ .switch__icon--light,
.switch__input:checked ~ .switch__icon--light polyline {
  transition: $transition;
}
.switch__input:checked ~ .switch__icon--light {
  opacity: 0;
  transform: translateX(-0.75em) rotate(-30deg) scale(0.75);
}
.switch__input:checked ~ .switch__icon--light polyline {
  stroke-dashoffset: 1.5;
}
.switch__input:checked ~ .switch__icon--dark {
  opacity: 1;
  transform: translateX(-1.5em);
  transition-delay: 150ms;
  transition: $transition;
}

.switch__sr {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

/* ----------------MOBILE-MENU----------------- */

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 1002;
  transform: translateY(-100%);
  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  overflow: hidden;
  padding: 20px;
  padding-top: 104px;

  transition: transform $transition, opacity $transition, visibility $transition;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  &.logged-in {
    padding-top: 84px;
  }
}

/* ----------------MOBILE-MENU-SIGN-UP---------------- */
.sign-up-btn-mobile {
  display: flex;
  justify-content: space-between;
  column-gap: 90px;
  background: $main-accent-color;
  border: 1.5px solid $black-accent-color;
  border-radius: 18px;
  padding: 14px;
  color: $dt-main-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  cursor: pointer;
}

.sign-up-icon {
  width: 20px;
  height: 20px;
  stroke: $secondary-accent-color;
  fill: rgba(234, 198, 69, 1);
}

.authorized-mobile-menu-user {
  display: inline-flex;
  align-items: center;
  column-gap: 9px;
}
.user-name-mobile {
  font-size: 22px;
  margin: 0;
  color: $white;
}

.mobile-nav-list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.mobile-nav-item {
  border-radius: 36px;
  text-transform: uppercase;

  &.current {
    .mobile-nav-link {
      padding: 8px 16px;

      background-color: $secondary-accent-color;
      font-weight: 700;
      color: $lt-main-text-color;
      .mobile-nav-link {
        column-gap: 8px;
      }
      .logo-shop-mobile {
        fill: $black-accent-color;
      }
    }
  }
  &:last-child {
    margin-top: 9px;
    .mobile-nav-link {
      padding-top: 7px;
      padding-bottom: 7px;
    }
    &.current {
      margin-top: 16px;
    }
  }
}
.mobile-nav-link {
  display: inline-flex;
  align-items: center;
  color: inherit;
  column-gap: 4px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  border-radius: 36px;

  transition: transform $transition;
}
.logo-shop-mobile {
  fill: $white;
}
.log-out-mobile-btn {
  display: flex;
  align-items: center;
  background: $white;
  border: 1.5px solid $black-accent-color;
  border-radius: 18px;
  padding: 13px 23px;
  column-gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  position: absolute;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}
/* ----------------TABLET---------------- */

.header-nav-main {
  margin-left: 40px;
  @media screen and (min-width: 1440px) {
    margin-left: 76px;
  }
}
.header-nav-list {
  display: none;
  gap: 16px;
  align-items: center;
  &[hidden] {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-nav-item {
  border-radius: 36px;

  &.current {
    background-color: $secondary-accent-color;
    font-weight: 700;
    color: $lt-main-text-color;
    .header-nav-link {
      column-gap: 8px;
    }
  }
  &:last-child {
    .header-nav-link {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}
.header-nav-link {
  display: flex;
  align-items: center;
  color: inherit;
  column-gap: 4px;
  position: relative;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $lt-main-text-color;
  cursor: pointer;
  transition: transform $transition;
}

.sign-up-box {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  &[hidden] {
    display: none;
  }
}
.sign-up-btn {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  padding: 13px;
  border: 1.5px solid $black-accent-color;
  border-radius: 18px;
  color: $lt-bg-color;
  background: $main-accent-color;
  cursor: pointer;
  transition: transform $transition;

  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 50px;
  }
  @media screen and (min-width: 1440px) {
    column-gap: 90px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.bg-mobile-menu {
  z-index: -1;
  position: absolute;
  bottom: -60px;
  left: 7vw;
  transform: rotate(-15deg) scale(1.15);
  transform-origin: center center;
  width: 450px;
  @media screen and (min-width: 450px) {
    left: 9vw;
  }
  @media screen and (min-width: 480px) {
    left: 12vw;
    transform: rotate(-15deg) scale(1.2);
  }
  @media screen and (min-width: 520px) {
    left: 15vw;
    transform: rotate(-15deg) scale(1.25);
  }
  @media screen and (min-width: 540px) {
    left: 17vw;
    transform: rotate(-15deg) scale(1.3);
  }
  @media screen and (min-width: 570px) {
    left: 20vw;
    transform: rotate(-15deg) scale(1.35);
  }
  @media screen and (min-width: 600px) {
    left: 22vw;
    transform: rotate(-15deg) scale(1.4);
  }
  @media screen and (min-width: 630px) {
    left: 24vw;
    transform: rotate(-15deg) scale(1.45);
  }
  @media screen and (min-width: 660px) {
    left: 26vw;
    transform: rotate(-15deg) scale(1.5);
  }
  @media screen and (min-width: 690px) {
    left: 27vw;
    transform: rotate(-15deg) scale(1.55);
  }
  @media screen and (min-width: 720px) {
    left: 28vw;
    transform: rotate(-15deg) scale(1.6);
  }
  @media screen and (min-width: 750px) {
    left: 29vw;
    transform: rotate(-15deg) scale(1.65);
  }
}
