.scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: $main-accent-color;
    
    @media screen and (min-width: 768px) {
        width: 38px;
        height: 38px;
      }
}

.scrollup-btn-icon {
    fill: $lt-bg-color;
  }