.scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: $main-accent-color;
    // background-color: $main-accent-color;
    // border: none;
    // border-radius: 50%;
    // color: $lt-bg-color;
    // cursor: pointer;
    // font-size: 16px;
    // text-align: center; 
    // line-height: 48px;
    // width: 48px;
}

.scrollup-btn-icon {
    fill: $lt-bg-color;
  }